# Xcode
*.xcodeproj/
*.xcworkspace/
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
IDEWorkspaceChecks.plist
 
# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
 
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
 
# VS Code
.vscode/
 
# CocoaPods (not used but just in case)
Pods/
 
# Misc
*.swp
*~